.header {
    background-color: var(--color-background-white);
    padding: 40px 30px;
    font-family: var(--font-family-roboto);
    color: var(--color-grey);
    box-sizing: border-box;
}

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__menu-button {
    cursor: pointer;
    float: right;
    padding: 40px 20px;
    display: none;
}

.header__menu-button-line {
    background: var(--color-light-green);
    display: block;
    height: 3px;
    position: relative;
    width: 24px;
}

.header__menu-button-line::before,
.header__menu-button-line::after {
    background: var(--color-light-green);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: all .2s ease-out;
}

.header__menu-button-line::before{
    top: 10px;
}
.header__menu-button-line::after{
    top: -10px;
}

.header__menu-input {
    display: none;
}

.header__list {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}

.header__item {
    list-style-type: none;
    margin-left: 40px;
}

.header__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--color-grey);
}

.header__link:hover {
    color: var(--color-light-green);
}

@media (max-width: 1024px) {
    .header__nav {
        transition: width .5s ease-out;
        width: 0;
        overflow: hidden;
        position: fixed;
        left: 0;
        right: 0;
        top: 163px;
        bottom: 0;
        background-color: var(--color-background-white);
        z-index: 99;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .header__menu-input:checked ~ nav{
        width: 360px;
    }
    .header__menu-input:checked ~ .header__menu-button .header__menu-button-line {
        background: transparent;
    }
    .header__menu-input:checked ~ .header__menu-button .header__menu-button-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .header__menu-input:checked ~ .header__menu-button .header__menu-button-line::after {
        transform: rotate(45deg);
        top:0;
    }

    .header__menu-button {
        display: inline-block;
    }

    .header__list {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .header__item {
        margin: 0;
        padding-bottom: 15px;
    }
    .header__link {
        white-space: nowrap;
    }
}

@media (max-width: 640px) {
    .header__menu-input:checked ~ nav{
        width: 270px;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 15px 15px;
    }
    .header__logo {
        width: 150px;
    }

    .header__menu-input:checked ~ nav{
        width: 250px;
    }
}

@media (max-width: 350px) {
    .header {
        padding: 15px 15px;
    }

    .header__logo {
        width: 140px;
        height: 50px;
    }
    .header__menu-button {
        padding: 0 10px;
    }

    .header__menu-input:checked ~ nav{
        width: 320px;
    }
}
