@import url(header.css);
@import url(purchase.css);
@import url(promo.css);
@import url(advantages.css);
@import url(about-us.css);
@import url(info-about-us.css);
@import url(products.css);
@import url(card.css);
@import url(testimonial.css);
@import url(review.css);
@import url(fact-in-numbers.css);
@import url(offer-products.css);
@import url(eco-friendly.css);
@import url(banners.css);
@import url(subscription.css);

:root {
    --color-blue: #274C5B;
    --color-light-green: #7EB693;
    --color-white: #FFFFFF;
    --color-grey: #525C60;
    --color-light-gray: #B8B8B8;
    --font-family-OpenSans: 'Open Sans', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-yellowtail: 'Yellowtail', cursive;
    --color-background-white: #FFFFFF;
    --color-background-light-gray: #F9F8F8;
    --color-background-blue: #274C5B;
    --color-background-yellow: #EFD372;
}

body {
    margin: 0;
    min-width: 320px;
}

a {
    text-decoration: none;
}

.block {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
    background-color: var(--color-background-yellow);
    border: 1px solid #EFD372;
    border-radius: 16px;
    padding: 25px 25px 25px 33px;
    font-family: var(--font-family-roboto);
    color: var(--color-background-blue);
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_blue {
    background-color: var(--color-background-blue);
    color: var(--color-white);
    border: 1px solid var(--color-blue);
    width: 200px;
    white-space: nowrap;
}

.button__icon {
    padding-left: 20px;
}

.button:hover {
    opacity: 0.9 ;
}

.button:active {
    opacity: 0.7;
}

@media (max-width: 615px) {

    .button_blue {
        justify-content: center;
        white-space: nowrap;
    }    
}

@media (max-width: 615px) {

    .button {
        padding: 10px 15px;
    }

    .button__icon {
        padding-left: 10px;
    }

    .button:hover {
        opacity: 0.95 ;
    }
}